extends layout
block pageTitle
  h1.pageTitle 


block body
  .col-sm-6.col-lg-offset-3
    .panel.panel-default
      .panel-heading
        h4.head Add Device
      form.bs-example.form-horizontal(method='post', action='/devices/add')
        .panel-body
            input#name.form-control(name='name', placeholder='Name', autofocus)
        .panel-footer
          button.pull-right.btn.btn-green(type='submit') Create
          .clearfix

