extends layout

block flash
  - var flashClass = "col-xs-12 col-sm-6 col-sm-offset-3";

block body
  .row
    .col-xs-12.col-sm-6.col-sm-offset-3
      .panel.panel-default#profile
        .panel-heading
          h4 Profile
        .panel-body
          dl.dl-horizontal
            dt Username
            dd= user.username
            dt Name
            dd= user.fullname
            dt Mail
            dd= user.email
            hr.full
            dt Github Id
            dd
              - if(user.githubId)
                = user.githubId
                a(href="/profile/unlink/github") 
              -else 
                a(href="/profile/link/github") Link
            dt Twitter Id      
            dd
              - if(user.twitterId)
                = user.twitterId
                a(href="/profile/unlink/twitter") 
              -else 
                a(href="/profile/link/twitter") Link
            dt Google Id      
            dd
              - if(user.googleId)
                = user.googleId
                a(href="/profile/unlink/google") 
              -else 
                a(href="/profile/link/google") Link
            dt Facebook Id      
            dd
              - if(user.facebookId)
                = user.facebookId
                a(href="/profile/unlink/facebook") 
              -else 
                a(href="/profile/link/facebook") Link
        .panel-footer
          form.bs-example.form-horizontal(method='post', action='/profile/delete')
            button.pull-left.btn.btn-danger(type='submit', value="delete") Delete
          a.btn.btn-white.pull-right(href='/profile/edit') Edit
          form.bs-example.form-horizontal(method='post', action='/profile/sync')
            button.pull-right.btn.btn-white(type='submit', value="") Sync
          .clearfix
