extends layout

block flash 
  - var flash = 4; 
  
block body
  .row
    .col-lg-4.col-lg-offset-4
      .panel.panel-default#register
        .panel-heading
          h4 Register
        form.bs-example.form-horizontal(method='post', action='/register')
          .panel-body
              fieldset
                .form-group
                  .col-lg-12
                    input#username.form-control(name='username', type='username', placeholder='Username', autofocus)
                .form-group
                  .col-lg-12
                    input#username.form-control(name='email', type='email', placeholder='Email', autofocus)
                .form-group
                  .col-lg-12
                    input#password.form-control(name='password', type='password', placeholder='Password')
                .form-group
                  .col-lg-12
                    input#username.form-control(name='devicename', placeholder='Device name', autofocus)
          .panel-footer
            button.pull-right.btn.btn-primary(type='submit') Register
            .clearfix
