body {
background: #F5F5F5;
color: #212121; 
font-size : 15px;
line-height: 1.5rem;  
padding: 0; 
font-family: 'Helvetica Neue',Helvetica,Arial, sans-serif;
-webkit-font-smoothing: antialiased;

}



.navbar {
background-color: #FFF;
min-height: 65px;
line-height: 65px;

margin-bottom: 30px; 
border: 0;
border-bottom: 1px solid #E1E1E1; 
border-radius: 0; 
}

.navbar a.navbar-brand {
  height: 65px; 
  padding: 0 15px; 
  line-height: 65px;
  background: #407CCC; 
  color: #FFF;
  border-bottom: 1px solid #3565A6;
  border-right: 1px solid #3565A6;
}
.navbar a.navbar-brand:hover {
  background: #3E76BF; 
  color: #FFF;
}

.navbar a {
  color: #333;
  line-height: 65px;
  font-size: 17px;
  font-weight: 400;
}

.navbar a:hover {
  color: #333;
  background: transparent;
}

ul.navbar-right, ul.navbar-right > li {
  height: 65px; 
}

#user {
  height: 64px;
  line-height: 64px;
  font-size: 17px;
  font-weight: 400;
  padding: 0 15px;
  border-left: 1px solid #E1E1E1;
}

#user .name {
  margin-right: 5px; 
}

ul.dropdown-menu {
  border: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 1px;
}

#user img {
margin-top: -2px;
  margin-right: 12px;
  height: 30px; 
  max-width: 30px;
  display: inline-block!important;
}
ul.navbar-right #user {
  line-height: 65px; 
}
ul.navbar-right #user:hover, .nav .open #user {
  background: transparent;
}

h1.pageTitle {
  color: #212121;
  font-size: 34px;
  display: block; 
  height: 39px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: normal; 
}

.carret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.page-container {
	padding: 0; 
}

.btn, .form-control, .alert, .progress, .panel, .list-group, .well, .list-group-item:first-child {
  border-radius: 1px;
  box-shadow: 0 0 0;
}


a.list-group-item:hover, a.list-group-item:focus {
  color: #212121;
;
  text-decoration: none;
  background-color: #f5f5f5;
}


.panel-default>.panel-heading {
  color: #333;
  background-color: #fcfcfc;
  border-color: #E1E1E1;
    padding: 10px 15px; 

}

.panel .head{
    margin: 0;
    line-height: 36px; 
  color: #4D4D4D; 
  font-size: 24px;
  font-weight: normal;
}

.panel .subhead {
  margin: 0;
  line-height: 24px; 
  color: #757575; 
  font-size: 15px;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #fcfcfc;
  border-top: 1px solid #E1E1E1;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #E1E1E1;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #e2e9e6;
  line-height: 23px;
}

.list-group-item > a {
    font-size: 15px; 
}

dt.meta{
  line-height: 21px; 
}

.meta {
  color: #757575;
  font-size: 13px; 
  font-weight: normal;
}

.glyphicon.accessTokenLocked {
  color: #5F5F5F; 
  font-size: 12px;
}



dl dt {
  font-weight: bold; 
  line-height: 30px; 
}

dl dd {
  line-height: 30px; 
  font-size: 14px;
}

.accessTokenPlain {
  color: #BF3E3E;
  font-size: 14px;
  font-weight: bold;
}

hr {
margin-top: 15px; 
margin-bottom: 15px;}
hr.full {
  margin-right: -15px; 
  margin-left: -15px;
}
span.deviceUsername {
  margin-right: 15px; 
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-height {
  line-height: 35px;
}
.btn {
  text-transform: uppercase;
}
.relative, .ribbon-wrapper {
  position: relative!important;
}
.btn {
  font-weight: 500;
}
.btn-white, .btn-danger {
  color: #444;
  background-color: #fff;
  border-color: #cccccc;
}
.btn-white .open>.dropdown-toggle.btn-white, .btn-white.active, .btn-white:active, .btn-white:focus, .btn-white:hover {
  background: #efefef;
  border-color: #cccccc;
}
.btn-white.active, .btn-white.focus, .btn-white:active, .btn-white:focus, .btn-white:hover, .open>.dropdown-toggle.btn-white {
  color: #444;
  background-color: #e6e6e6;
  border-color: #cccccc;
}


.btn {
  border-radius: 0; 
}
.btn-green {
  color: #FFF;
  background-color: #66bb6a;
  border-color: #559A59;
}
.btn-green .open>.dropdown-toggle.btn-green, .btn-green.active, .btn-green:active, .btn-green:focus, .btn-green:hover {
  background: #efefef;
  border-color: #efefef;
}
.btn-green.active, .btn-green.focus, .btn-green:active, .btn-green:focus, .btn-green:hover {
  color: #FFF;
  background-color: #61AF64;
  border-color: #559A59;
}

.icon-block.half {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #FFF;
}
.bg-grey-300 {
  background-color: #DEDEDE;
}
.icon-block {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  font-size: 35px;
}
.img-circle {
  border-radius: 50%;
  border: 1px solid #CACACA;
}

.list-group li {
  list-style: none; 
}
a.list-group-item {
  color: #212121;
}
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}

dl {
  margin: 0;
}
dl.dl-horizontal dt {
	white-space: normal;
text-align: left; 
}

dl.dl-horizontal {
  padding-left: 0;
}

.nav>li>a  {
  line-height: 50px; 
  padding: 0 15px; 
  font-size: 14px; 
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #ebebeb;
  background-color: #008FC7;
}


.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

.btn.pull-right {
  margin-left: 15px; 
}

.btn.pull-left {
  margin-right: 15px; 
}

.alert-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
}




.alert-success {
  background-color: #66BB6A;
  border-color: #559A59;
  color: #FFFFFF;
  text-transform: uppercase; 
  font-size: 14px; 
}

.flash .alert , .flash .success{
  margin-bottom: 30px;
}

p {
	line-height: 1.5em; 
}

p:last-child {
  margin-bottom: 0; 
}


ul.tracking .img-circle, ul.trackers .img-circle {
  height: 20px;
  margin-right: 10px; 
}

ul.tracking .label, ul.trackers .label {
  line-height: 17px; 
}


select {
    -webkit-appearance: none;
  -webkit-border-radius: 0px;

}


.panel > .list-group:last-child .list-group-item:last-child, .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-radius: 0;
}