[Service]
ExecStart=[node binary] /home/srv-node-sample/[main file]
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=traction
User=traction
Group=traction
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
